<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Результат</title>
</head>
<body>
<h1>Результаты</h1>
<table border="1">
    <tr>
        <th>Описание</th>
        <th>Значение</th>
    </tr>
    <tr>
        <td>Возраст</td>
        <td th:text="${age}"></td>
    </tr>
    <tr>
        <td>Рост (см)</td>
        <td th:text="${height}"></td>
    </tr>
    <tr>
        <td>Вес (кг)</td>
        <td th:text="${weight}"></td>
    </tr>
    <tr>
        <td>Пол</td>
        <td th:text="${sex.getRussianName()}"></td>
    </tr>
    <tr>
        <td>Формула для подсчета потребления калорий</td>
        <td th:text="${type.getRussianName()}"></td>
    </tr>
    <tr>
        <td>Индекс массы тела</td>
        <td th:text="${bmi}"></td>
    </tr>
    <tr>
        <td>Для сохранения веса нужно потреблять (ккал)</td>
        <td th:text="${stable}"></td>
    </tr>
    <tr>
        <td>Для набора веса нужно потреблять (ккал)</td>
        <td th:text="${more}"></td>
    </tr>
    <tr>
        <td>Для похудения нужно потреблять (ккал)</td>
        <td th:text="${less}"></td>
    </tr>
</table>
</body>
</html>

